@model PrezentacjaAF.Models.SlideViewModel

@{
    ViewData["Title"] = "Delete";
}

@section Js{
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>
    <environment names="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
}
@section Css{
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <style>
        body {
            background-color: white !important;
        }
    </style>
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Slide</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhotoPath)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
