@model IEnumerable<PrezentacjaAF.Models.SlideViewModels.IndexViewModel>

@{
    ViewData["Title"] = Localizer["Index "];
}

<h2>@Localizer["Index "]</h2>
<p>
    <a asp-action="Create">@Localizer["Create new"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SortOrder)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhotoPath)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.MusicPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notice)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img src="\uploads\photos\thumbs\@(item.PhotoPath)" class="img-thumbnail" style="width:60px; height:auto;"/>
            </td>
            <td style="text-align:center; vertical-align:middle">
                @if (!string.IsNullOrWhiteSpace(item.MusicPath) && item.MusicPath != "silence.mp3")
                {
                    <i class="fa fa-music" aria-hidden="true" style="color: black;"></i>
                }
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Section.Name)
            </th>
            <td style="text-align:center; vertical-align:middle">
            @if (!string.IsNullOrWhiteSpace(item.Notice))
            {
                <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
            }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
