@model IEnumerable<PrezentacjaAF.Models.SlideViewModel>

@{
    ViewData["Title"] = Localizer["Index "];
}

@section Js{
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>
    <environment names="Development">
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
}
@section Css{
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />

    </environment>
    <style>
        body {
            background-color: white !important;
        }
    </style>
}

<h2>@Localizer["Index "]</h2>

<p>
    <a asp-action="Create">@Localizer["Create new"]</a>
</p>
<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <button type="submit" class="btn btn-link">@Localizer["Log out"]</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SortOrder)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhotoFile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notice)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img src="\uploads\photos\thumbs\@(item.PhotoPath)" class="img-thumbnail" style="width:60px; height:auto;"/>
            </td>
            <td style="text-align:center; vertical-align:middle">
            @if (!string.IsNullOrWhiteSpace(item.Notice))
            {
                <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
            }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
