@model IEnumerable<PrezentacjaAF.Models.SlideViewModels.IndexViewModel>
@{
    ViewData["Title"] = Localizer["Home Page"];
}
<div id="slideshowControls">
    <div id="buttonsContainer">
        <button id="slideshowButton"><i class="fa fa-play" aria-hidden="true"></i></button>
        <button id="fullscreenButton" class="no-mobile" onclick="screenfull.toggle();"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
        <button id="muteButton" class="no-mobile"><i class="fa fa-music" aria-hidden="true"></i></button>
        <div id="volumeSlider" class="no-mobile"></div>
    </div>
    <label class="slideLength">
        <select id="slideLength">
            <option value="0">@Localizer["Default"]</option>
            <option value="10000">10s</option>
            <option value="15000">15s</option>
            <option value="30000">30s</option>
            <option value="60000">1min</option>
        </select>
    </label>
</div>
<div id="sectionsNav">
    <button id="sectionUpButton" class="no-mobile" onclick="$.fn.fullpage.moveSectionUp();"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></button>
    <button id="sectionDownButton" class="no-mobile" onclick="$.fn.fullpage.moveSectionDown();"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></button>
</div>
<div id="fullpage">
    @foreach (var section in ViewBag.Sections)
    {
        int i = 0;
        <div class="section @((i == 0 && ((PrezentacjaAF.Models.Section)(section)).IsSlideshow )
            ? "active" : "a")" data-anchor=@(((PrezentacjaAF.Models.Section)(section)).Tag)
             @(((PrezentacjaAF.Models.Section)(section)).IsSlideshow ? "data-slideshow=true" : "data-slideshow=false")>

            @if (((PrezentacjaAF.Models.Section)(section)).IsSlideshow)
            {
                i++;
                foreach (var item in Model
                    .Where(c => c.SectionId == ((PrezentacjaAF.Models.Section)(section)).Id))
                {
                    <div class="slide" data-anchor="@(item.ID)">
                        <div id="slide-container">
                            <div id="photo-row">
                                <audio class="audio" data-autoplay data-src="/uploads/music/@(item.MusicPath)">
                                    @Localizer["Your browser does not support the audio element."];
                                </audio>
                                <input id="slideDuration" type="hidden" value="@item.SlideLength" />
                                <img class="photo" data-src="/uploads/photos/@item.PhotoPath" />
                                <div id="loader" style="display: block"></div>
                            </div>
                            <div id="data-row">
                                <h3>@(item.SortOrder + ". " + item.Title)</h3>
                                <p>@Html.Raw(@item.Description)</p>
                            </div>
                        </div>
                    </div>
                }
                <div id="slidesNav" class="no-mobile">
                    @foreach (var item in Model.Where(c => c.SectionId == ((PrezentacjaAF.Models.Section)(section)).Id))
                    {
                        <div><a href="#@(item.Section.Tag)/@(item.ID)"><img data-link="@(item.ID)" src="/uploads/photos/thumbs/@item.PhotoPath" /></a></div>
                    }
                </div>
            }
            else
            {
                @foreach (var slide in Model.Where(c => c.SectionId == ((PrezentacjaAF.Models.Section)(section)).Id))
                {
                    <div class="slide">@Html.Raw(@slide.Description)</div>
                }
            }
        </div>
    }
    <div class="section" data-anchor="footer" data-slideshow="false">
        <footer>
            <p>Prawa autorskie 2017 - <a href="mailto:andrzejf1611@gmail.com">Andrzej Furmaniak</a>. Prawa autorskie do prac graficznych i zdjęć należą do Andrzeja Furmaniaka.</p>
            <p>Wykonawcą strony jest <a href="mailto:kermaxpl@gmail.com">Mateusz Jamrowski</a>.</p>
        </footer>
    </div>
</div>
@section Scripts{
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/slideshow.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development">
        <script src="~/js/site.js"></script>
        <script src="~/js/slideshow.js"></script>
    </environment>
}
